apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  serviceAccountName: alertmanager
  externalUrl: "https://service.sogeor.com/alertmanager"
  routePrefix: /alertmanager
  replicas: 1
  configSecret: alertmanager
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 4m
      memory: 100Mi
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
