apiVersion: v1
kind: Service
metadata:
  name: alloy
  namespace: monitoring
  labels:
    app.kubernetes.io/name: alloy-service
spec:
  selector:
    app.kubernetes.io/name: alloy
  ports:
    - protocol: TCP
      port: 8080
      targetPort: http
      name: http
