apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: grafana
  namespace: service
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grafana
    spec:
      automountServiceAccountToken: false
      serviceAccountName: grafana
      containers:
        - name: grafana
          image: grafana/grafana:12.3.0
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: GF_SERVER_DOMAIN
              value: "service.sogeor.com"
            - name: GF_SERVER_ROOT_URL
              value: "http://service.sogeor.com/grafana"
            - name: GF_SERVER_SERVE_FROM_SUB_PATH
              value: "true"
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
          resources:
            limits:
              cpu: 200m
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 100Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: grafana-volume
              mountPath: /var/lib/grafana
      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
  volumeClaimTemplates:
    - metadata:
        name: grafana-volume
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: service-grafana-volume
        storageClassName: native-storage
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
