apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: service
  labels:
    app.kubernetes.io/name: grafana-service
spec:
  selector:
    app.kubernetes.io/name: grafana
  ports:
    - protocol: TCP
      port: 8080
      targetPort: http
      name: http
